@model Hotel.Models.Quarto

@{
    ViewData["Title"] = "Novo Quarto";
}

<h1>Novo Quarto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamasCasal" class="control-label"></label>
                <input asp-for="CamasCasal" class="form-control" />
                <span asp-validation-for="CamasCasal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamasSolteiro" class="control-label"></label>
                <input asp-for="CamasSolteiro" class="form-control" />
                <span asp-validation-for="CamasSolteiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiBanheiro" class="control-label"></label>
                <input asp-for="PossuiBanheiro" class="form-control" />
                <span asp-validation-for="PossuiBanheiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiInternet" class="control-label"></label>
                <input asp-for="PossuiInternet" class="form-control" />
                <span asp-validation-for="PossuiInternet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiTv" class="control-label"></label>
                <input asp-for="PossuiTv" class="form-control" />
                <span asp-validation-for="PossuiTv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}